<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Row Audio Players</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.css">
    <link rel="stylesheet" href="https://michael-zhigulin.github.io/mz-codepen-projects/Material%20Design%20UI%20Audio%20Player/font/font.css">
    <link rel="stylesheet" href="/assets/css/musicplayer.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.js"></script>
    <script type="text/javascript" src="/assets/js/musicplayer1.js" ></script>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <div class="player">
        <div class="like waves-effect waves-light">
        <i class="icon-heart"></i>
        </div>
        <div class="mask"></div>
        <ul class="player-info info-one">
        <li>Rock'n'Roll Nerd</li>
        <li>Tim Minchin</li>
        <li>5:34</li>
        </ul>
        <ul class="player-info info-two">
        <li>Rock'n'Roll Nerd</li>
        <li>Tim Minchin</li>
        <li><span id="duration"></span><i> / </i>5:34</li>
        </ul>
        <div id="play-button" class="unchecked">
        <i class="icon icon-play"></i>
        </div>
        <div class="control-row">
        <div class="waves-animation-one"></div>
        <div class="waves-animation-two"></div>
        <div id="pause-button">
            <i class="icon"></i>
        </div>
        <div class="seek-field">
            <input id="audioSeekBar" min="0" max="334" step="1" value="0" type="range" oninput="audioSeekBar()" onchange="this.oninput()">
        </div>
        <div class="volume-icon">
            <i class="icon-volume-up"></i>
        </div>
        <div class="volume-field">
            <input type="range" min="0" max="100" value="100" step="1" oninput="audio.volume = this.value/100" onchange="this.oninput()">
        </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="player">
        <div class="like waves-effect waves-light">
        <i class="icon-heart"></i>
        </div>
        <div class="mask"></div>
        <ul class="player-info info-one">
        <li>Rock'n'Roll Nerd</li>
        <li>Tim Minchin</li>
        <li>5:34</li>
        </ul>
        <ul class="player-info info-two">
        <li>Rock'n'Roll Nerd</li>
        <li>Tim Minchin</li>
        <li><span id="duration"></span><i> / </i>5:34</li>
        </ul>
        <div id="play-button " class="unchecked">
        <i class="icon icon-play"></i>
        </div>
        <div class="control-row">
        <div class="waves-animation-one"></div>
        <div class="waves-animation-two"></div>
        <div id="pause-button">
            <i class="icon"></i>
        </div>
        <div class="seek-field">
            <input id="audioSeekBar" min="0" max="334" step="1" value="0" type="range" oninput="audioSeekBar()" onchange="this.oninput()">
        </div>
        <div class="volume-icon">
            <i class="icon-volume-up"></i>
        </div>
        <div class="volume-field">
            <input type="range" min="0" max="100" value="100" step="1" oninput="audio.volume = this.value/100" onchange="this.oninput()">
        </div>
        </div>
    </div>
    </div>
    <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/users/1539950/favorites" width="100%" height="465" scrolling="no" frameborder="no"></iframe>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    <script type="text/javascript">
    (function(){
      var widgetIframe = document.getElementById('sc-widget'),
          widget       = SC.Widget(widgetIframe);

      widget.bind(SC.Widget.Events.READY, function() {
        widget.bind(SC.Widget.Events.PLAY, function() {
          // get information about currently playing sound
          widget.getCurrentSound(function(currentSound) {
            console.log('sound ' + currentSound.get('') + 'began to play');
          });
        });
        // get current level of volume
        widget.getVolume(function(volume) {
          console.log('current volume value is ' + volume);
        });
        // set new volume level
        widget.setVolume(50);
        // get the value of the current position
      });
    }());
    </script>
    <iframe id="sc-widget" width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=true"></iframe>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    <script type="text/javascript">
      (function(){
        var widgetIframe = document.getElementById('sc-widget'),
            widget       = SC.Widget(widgetIframe),
            newSoundUrl = 'https://api.soundcloud.com/tracks/13692671';
    
        widget.bind(SC.Widget.Events.READY, function() {
          // load new widget
          widget.bind(SC.Widget.Events.FINISH, function() {
            widget.load(newSoundUrl, {
              show_artwork: false
            });
          });
        });
    
      }());
    </script>


    <!-- JavaScript files and scripts if necessary -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.js"></script>
    <script src="src/musicplayer1.js"></script>
</body>
</div>
<audio id="audio-player" ontimeupdate="SeekBar()" ondurationchange="CreateSeekBar()" preload="auto" loop>
  <source src="https://michael-zhigulin.github.io/mz-codepen-projects/Material%20Design%20UI%20Audio%20Player/audio/Tim%20Minchin%20%E2%80%94%20Rock%20n%20Roll%20Nerd.ogg" type="audio/ogg">
  <source src="https://michael-zhigulin.github.io/mz-codepen-projects/Material%20Design%20UI%20Audio%20Player/audio/Tim%20Minchin%20%E2%80%94%20Rock%20n%20Roll%20Nerd.mp3" type="audio/mpeg">
</audio>
</html>